<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :question_text %>
  <%= f.text_field :question_text %>

  <button type="button" data-action="nested-form#remove">Remove</button>

  <%= f.hidden_field :_destroy %>
</div>
